//-
//- hello.jade
//-
//- This demonstrates:
//-   1. template inheritance
//-   2. variable binding & inheritance
//-   3. localized messages
//-   4. localized relative date formatting
//-   5. localized date formatting
//-
extends ./base

block content
  h1
    =pippo.i18n("pippo.greeting")
    &nbsp;
    i(class='fa fa-smile-o')
  div(class="row")
    div(class="col-sm-7")
      p
        !=pippo.i18n("pippo.yourLanguageAndLocale", lang, locale)
      p
        !=pippo.i18n("pippo.theContextPath", contextPath)
      p
        span=pippo.formatTime(testDate, 'full')
        | (
        span=pippo.prettyTime(testDate)
        | )

      div(class="dropdown")
        button(class="btn btn-default dropdown-toggle", type="button", id="languageMenu", data-toggle="dropdown", aria-expanded="true")
          =pippo.i18n("pippo.languageChoices")
          &nbsp;
          span(class="caret")

        ul(class="dropdown-menu", role="menu", aria-labelledby="languageMenu")
          each choice in languageChoices
            li(role="presentation")
              a(role="menuitem", tabindex="-1", href="?lang=#{choice}")
                =choice
    div(class="col-sm-5")
      div(class="panel panel-default")
        div(class="panel-heading")
          h3(class="panel-title")
            =pippo.i18n("pippo.demonstrations")
        div(class="panel-body")
          ul
            li
              a(href="#{appPath}/satisfaction")
                =pippo.i18n("pippo.unmatchedRoute")
            li
              a(href="#{appPath}/exception")
                =pippo.i18n("pippo.exceptionHandling")
